black[jupyter]==24.8.0
fastdtw==0.3.4
isort==5.13.2
jupyter==1.1.1
lightgbm==4.5.0
matplotlib==3.9.2
pandas==2.2.3
pyarrow==17.0.0
pytest==8.3.3
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
scikit-learn==1.5.2
seaborn==0.13.2
six==1.16.0
statsmodels==0.14.3
torch==2.4.1
torchmetrics==1.4.2
torchvision==0.19.1
tqdm==4.66.5
tzdata==2024.1
wandb==0.18.1
ydata-profiling==4.10.0
yfinance==0.2.43
